
<link rel="stylesheet" href="style2.css">

    
<audio src="/assets/songs/Kita Saitama Blues.mp3" id="audio"></audio>

<div class="music-player">
    <h1 class="music-name">song one</h1>
    <p class="artist-name">Artist</p>

    <div class="disk pause"></div>
    
    <div class="song-slider">
        <input type="range" value="0" class="seek-bar">
        <span class="current-time">00:00</span>
        <span class="song-duration">00:00</span>
    </div>

    <div class="controls">
        <button class="btn backward-btn"><img src="/assets/images2/prevBTN.png" alt="prev" width="20px"></button>
        <button class="play-btn pause">
            <span></span>
            <span></span>
        </button>
        <button class="btn forward-btn"><img src="/assets/images2/nextBTN.png" alt="next" width="20px"></button>
    </div>
</div>