<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AniTunes</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="utility.css">
</head>
<body>
    <div class="container flex bg-black">
        <div class="left">
            <app-home></app-home>
            <!-- <div class="home bg-grey rounded m-1 p-1">
                <div class="logo">
                    <img src="/assets/images/logo.svg" alt="logo" class="invert">
                    <h1>AniTunes</h1>
                </div>
                <ul>
                    <li><img src="/assets/images/home.svg" alt="home" class="invert">Home</li>
                    <li><img src="/assets/images/search.svg" alt="search" style="width: 25px;" class="invert">Search</li>
                </ul>
            </div> -->

            <div class="library bg-grey rounded m-1 p-1">
                <div class="heading">
                    <img src="/assets/images/library.svg" alt="" class="invert">
                    <h2>Your Library</h2>
                </div>

                <div class="music-container">
                    <!-- <app-music-player></app-music-player>
                    <app-play-list2></app-play-list2> -->
                    <router-outlet></router-outlet>
                </div>

                <div class="footer">
                    <div><a href="#"><span>Legal</span></a></div>
                    <div><a href="#"><span>Cookies</span></a></div>
                    <div><a href="#"><span>Privacy Policy</span></a></div>
                    <div><a href="#"><span>About Ads</span></a></div>
                    <div><a href="#"><span>Accessibility</span></a></div>
                    <div><a href="#"><span>Safety & Privacy Center</span></a></div>
                </div>
            </div>
        </div>

        <div class="right bg-grey rounded">
            <div class="header">
                <div class="nav">
                    <img src="/assets/images/chevron-left.svg" alt="left">
                    <img src="/assets/images/chevron-right.svg" alt="right">
                </div>
                <div class="buttons">
                    <!-- <button class="btn" id="signInBtn">Sign Up</button> -->
                    <a href="/">
                        <button class="btn" id="signInBtn">Let's Chat</button>
                    </a>
                    <a href="/login">
                        <button class="btn" id="logInBtn">ARTISTS</button>
                    </a>
                </div>
            </div>

            <div class="spotifyPlaylist">
                <div>
                    <h1>Anime Playlists</h1>
                    <div class="cardContainer">
                        <a href="/music-player"><app-card1></app-card1></a>
                        <a href="/play-list2"><app-card2></app-card2></a>
                        <a href="/music-player"><app-card3></app-card3></a>
                        <a href="/play-list2"><app-card4></app-card4></a>
                        <a href="/music-player"><app-card5></app-card5></a>
                        <a href="/play-list2"><app-card6></app-card6></a>
                        <a href="/music-player"><app-card7></app-card7></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <router-outlet /> -->