/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #5f7a61; */
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.music-player{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: rgba(255,255,255,0.08);
    box-shadow: 0 40px 100px rgba(255,255,255,0.1);
    padding: 20px;
    overflow: hidden;
    color: #d5eebb; 
}

.music-name,
.artist-name{
    text-align: center;
    text-transform: capitalize;
}

.music-name{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 5px;
}

.artist-name{
    font-size: 15px;
}

.disk{
    position: relative;
    display: block;
    margin: 40px auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url('/assets/images2/cover1.jpg');
    background-size: cover;
    box-shadow: 0 0 0 10px rgba(255,255,255,0.08);
    animation: rotate 20s linear infinite;
    animation-play-state: paused;
}

.disk.play{
    animation-play-state: running;
}

.disk::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #5f7a61;
}

.song-slider{
    width: 100%;
    position: relative;
    transform: translateY(-15px);
}

.seek-bar{
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background: #7fc8a9;
    overflow: hidden;
    cursor: pointer;
}

.seek-bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 0px;
    height: 20px;
    background: #000;
    box-shadow: -400px 0 0 400px #d5eebb;
}

.current-time,
.song-duration{
    font-size: 14px;
}

.song-duration{
    position: absolute;
    right: 0;
}


.controls{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    transform: translateY(-10px);
}

.play-btn{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #d5eebb;
    cursor: pointer;
}

.play-btn span{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    width: 10px;
    height: 30px;
    border-radius: 2px;
    background: #5f7a61;
    transform: .5s;
    clip-path: polygon(0 0, 100% 0,100% 100%, 0 100%);
}

.play-btn span:nth-child(2){
    left: 55%;
    transform-origin: center;
}

.play-btn.pause span:nth-child(2){
    transform: translateY(50%) scaleY(0);
}

.play-btn.pause span:nth-child(1){
    width: 35%;
    left: 53%;
    transform: translate(-50%,-50%);
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
}

.play-btn.pause{
    animation: pulse 2s alternate infinite;
}

@keyframes pulse{
    0%{
        box-shadow: 0;
    }
    100%{
        box-shadow: 0 0 0 5px rgba(255,255,255,0.4);
    }
}

.btn{
    background: #d5eebb;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@keyframes rotate{
    0%{
       transform: rotate(0); 
    }
    100%{
       transform: rotate(360deg); 
    }
}