<!-- <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.css"> -->

<div class="home bg-greys roundedb mar-1 par-1">
    <div class="logo">
        <img src="/assets/images/logo.svg" alt="logo" class="invert">
        <h1>NekoTunes</h1>
    </div>
    <ul>
        <li>
            <img src="/assets/images/home.svg" alt="home" class="invert"><a href="/">Home</a></li>
        <li>
            
            <img src="/assets/images/search.svg" alt="search" style="width: 25px;" class="invert searchImg">
            <a href="https://searchfeature.onrender.com">
                <input class="search bg-greys" type="search" placeholder="Search" >
            </a>
        </li>
    </ul>   
</div>